# compiled output
/dist
/coverage
/.angular/cache
/.sass-cache
/docs
/typings

# dependencies
node_modules

# misc
package-lock.json
yarn.lock
npm-debug.log
yarn-error.log
.npmrc

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System Files
.DS_Store
Thumbs.db
