<section class="max-w-screen-lg px-3 py-6 mx-auto">
  <div class="mb-6 text-2xl font-bold">
    <div class="flex items-baseline justify-between">
      <p>Recent Projects</p>
      <a
        href="/"
        class="text-sm hover:text-red-500">
        View all →
      </a>
    </div>
  </div>

  <div class="flex flex-col gap-6">
    <div class="flex flex-col items-center p-3 border-red-400 rounded-md shadow-md hover:shadow-xl gap-x-8 md:flex-row">
      <div class="shrink-0">
        <a href="/">
          <img
            class="h-36 w-36"
            src="assets/project-1.png"
            alt="" />
        </a>
      </div>
      <div>
        <div class="flex flex-col items-center gap-y-2 md:flex-row">
          <a
            class="text-xl font-semibold hover:text-red-500"
            href="/"
            >Project 1 Name</a
          >
          <div class="flex flex-wrap gap-2 ml-3">
            <div class="px-2 py-1 text-xs font-semibold rounded-md text-fuchsia-900 bg-fuchsia-400">HTML</div>
            <div class="px-2 py-1 text-xs font-semibold text-blue-900 bg-blue-400 rounded-md">CSS</div>
            <div class="px-2 py-1 text-xs font-semibold text-red-900 bg-red-400 rounded-md">Typescript</div>
          </div>
        </div>
        <p class="mt-3 text-gray-600">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quae dignissimos perferendis? Magnam nam
          odio nesciunt eum suscipit commodi sapiente esse delectus saepe accusantium repudiandae, exercitationem
          ducimus eveniet voluptate maxime!
        </p>
      </div>
    </div>
  </div>
</section>
